body {
    background-color: whitesmoke;
    color: black;
    font-family: Arial, sans-serif;
}

#box {
    width: 800px;
    background-color: wheat;
    margin: auto;
}

.photo {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    object-fit: cover;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}

.header-padding {
    padding: 10px 50px 0 50px;
}

.section-padding {
    padding: 0 50px;
}

.bottom-padding {
    padding-bottom: 20px;
}